@{
    ViewBag.Title = "Home Page";
}

@using (Ajax.BeginForm("BookSearch", new AjaxOptions { UpdateTargetId = "results", LoadingElementId = "loading", LoadingElementDuration = 800, Confirm = "Выполнить запрос?", InsertionMode = InsertionMode.InsertBefore }))
{
    <input type="text" name="name" />
    <input type="submit" value="Поиск" />
}
<div id="results"></div>
<div id="loading" style="display:none; color:red; font-weight:bold;">
    <p>Идет загрузка...</p>
</div>

@Ajax.ActionLink("Лучшая Книга", "BestBook", new AjaxOptions { UpdateTargetId = "bestook" })